Authors: Nguyen Hoang Nhat Tan, Nguyen Chinh Quan, Luu Ha Minh Khoi

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("/content/marketing-campaign.csv")
data

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,4/9/12,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,8/3/14,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10/2/14,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10/6/14,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [3]:
# What is the probability that a customer got a PhD?
len(data[data['Education'] == 'PhD']) / len(data)

0.21696428571428572

In [4]:
# What is the probability that a customer got a PhD and Single?
len(data[(data['Education'] == 'PhD') & (data['Marital_Status'] == 'Single')]) / len(data)

0.04375

In [5]:
# What is the probability that a single customer got a PhD?
len(data[(data['Education'] == 'PhD') & (data['Marital_Status'] == 'Single')]) / len(data[(data['Marital_Status'] == 'Single')])

0.20416666666666666

In [6]:
# What is the probability that a customer has income more than $50000?
len(data[data['Income'] > 5e4]) / len(data)

0.5160714285714286

In [7]:
# What is the probability that a customer with PhD has income more than $50000?
len(data[(data['Education'] == 'PhD') & (data['Income'] > 5e4)]) / len(data[(data['Education'] == 'PhD')])

0.5987654320987654

In [8]:
# What is the probability that a customer has income more than $50000 AND got got a PhD?
len(data[(data['Education'] == 'PhD') & (data['Income'] > 5e4)]) / len(data)

0.1299107142857143